:root {
  --ui-light: #FFFFFF;
  --ui-light-selected: #DEDEDE;
  --ui-light-hover: #EFEFEF;
  --ui-accent: #31454E;
  --ui-dark: #54646F;
  --ui-dark-hover: #64747F;
  --background-light: #C6D9E6;
  --background-dark: #9DC0D7;
  --focus: #159AF4;
  --icon-dark: #1586C1;
  --icon-light: #FFFFFF;
  --text-light: #FFFFFF;
  --text-dark: #000000;
  --light-tile: #F3F2ED;
  --light-tile-hover: #E3E2DD;
  --light-revealed-tile: #ADDEFF;
  --light-revealed-tile-hover: #9DCEEF;
  --dark-tile: #EFECE3;
  --dark-tile-hover: #DFDCD3;
  --dark-revealed-tile: #8BC8F1;
  --dark-revealed-tile-hover: #7BB8E1;
  --mine-tile: #EA996F;
}

html * {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
  color: var(--text-dark);
}

body {
  box-sizing: border-box;
  background-color: var(--background-light);
  padding: 64px 20%;
  margin: 0;
}

body * {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

button {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

span {
  color: inherit;
  font-weight: inherit;
}

i.fa-check {
  color: var(--icon-dark);
}

i.fa-redo-alt {
  color: var(--icon-light);
}

.config {
  display: flex;
  flex-direction: row;
  margin-bottom: 48px;
}

.page-header {
  margin-bottom: 32px;
}

:focus {
  outline: 3px solid var(--focus);
  outline-offset: -3px;
}

.selected-item {
  background-color: var(--ui-light-selected) !important;
}

.label {
  font-size: 14px;
  margin-bottom: 4px;
}

.difficulty {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: var(--ui-light);
  color: black;
  text-align: left;
  width: 312px;
  height: 44px;
  transform: translateY(-1px);
  padding: 0 16px 4px 16px;
  margin-top: 16px;
  border: none;
  border-bottom: 4px solid var(--ui-accent);
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease;
}

.dropdown-button i {
  transform: translateY(4px);
}

.dropdown-button:hover {
  background-color: var(--ui-light-hover);
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  box-shadow: 0 0 8px var(--ui-accent);
}

.dropdown-item {
  background-color: var(--ui-light);
  color: black;
  text-align: left;
  width: 312px;
  height: 48px;
  padding: 0 16px;
  margin: 0;
  border: none;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease;
}

.dropdown-item:hover {
  background-color: var(--ui-light-hover);
  cursor: pointer;
}

.stats {
  margin-left: 64px;
}

.stats-line {
  display: flex;
  flex-direction: row;
  margin: 6px 0 2px;
}

.stats-label {
  font-weight: 600;
}

.stats-value {
  margin-left: 8px;
}

.game {
  background-color: var(--ui-light);
}

.game-toolbar {
  width: 100%;
  height: 64px;
  background: var(--ui-dark);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.toolbar-text {
  width: 40px;
  color: var(--text-light);
  font-weight: 500;
}

.toolbar-section {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.toolbar-icon {
  height: 32px;
  width: 32px;
  margin-right: 8px;
}

.icon-button {
  height: 48px;
  width: 48px;
  text-align: center;
  border: none;
  background-color: inherit;
  transition: background-color 0.25s ease;
}

.icon-button:hover {
  cursor: pointer;
  background-color: var(--ui-dark-hover);
}

.game {
  border: 4px solid var(--ui-accent);
}

.game-canvas {
  display: flex;
  align-content: center;
  justify-content: center;
}

.game-board {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.game-board:hover {
  cursor: pointer;
}

.game-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-tile {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mine {
  background-image: url('../assets/mine.png');
  background-size: contain;
  background-color: var(--mine-tile) !important;
}

.flag {
  background-image: url('../assets/flag-game.png');
  background-size: contain;
  cursor: default;
}

.number-1 {
  background-image: url('../assets/1.png');
  background-size: contain;
}

.number-2 {
  background-image: url('../assets/2.png');
  background-size: contain;
}

.number-3 {
  background-image: url('../assets/3.png');
  background-size: contain;
}

.number-4 {
  background-image: url('../assets/4.png');
  background-size: contain;
}

.number-5 {
  background-image: url('../assets/5.png');
  background-size: contain;
}

.number-6 {
  background-image: url('../assets/6.png');
  background-size: contain;
}

.number-7 {
  background-image: url('../assets/7.png');
  background-size: contain;
}

.number-8 {
  background-image: url('../assets/8.png');
  background-size: contain;
}

.revealed-light-tile {
  background-color: var(--light-revealed-tile);
}

.revealed-dark-tile {
  background-color: var(--dark-revealed-tile);
}

.revealed-tile {
  cursor: default;
}

.light-tile {
  background-color: var(--light-tile);
}

.light-tile:hover {
  background-color: var(--light-tile-hover);
}

.dark-tile {
  background-color: var(--dark-tile);
}

.dark-tile:hover {
  background-color: var(--dark-tile-hover);
}
