html * {
  font-family: 'Be Vietnam', sans-serif;
  font-weight: 400;
}

body {
  background-color: #C6D9E6;
  padding: 64px 20%;
}

body * {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
}

button {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 800;
}

i.fa-check {
  color: #1586C1;
}

.config {
  display: flex;
  flex-direction: row;
}

.page-header {
  margin-bottom: 32px;
}

:focus {
  outline: 3px solid #159AF4;
  outline-offset: -3px;
}

.selected-item {
  background-color: #DEDEDE !important;
}

.label {
  font-size: 14px;
  margin-bottom: 4px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  background-color: white;
  color: black;
  text-align: left;
  width: 312px;
  height: 46px;
  transform: translateY(-1px);
  padding: 0 16px;
  margin-top: 16px;
  border: none;
  border-bottom: 2px solid #31454E;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease;
}

.dropdown-button:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.dropdown-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  box-shadow: 0 0 8px #31454E;
}

.dropdown-item {
  background-color: white;
  color: black;
  text-align: left;
  width: 312px;
  height: 48px;
  padding: 0 16px;
  margin: 0;
  border: none;
  box-sizing: content-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.25s ease;
}

.dropdown-item:hover {
  background-color: #EFEFEF;
  cursor: pointer;
}

.stats {
  margin-left: 64px;
}

.stats-line {
  display: flex;
  flex-direction: row;
}

.stats-label {
  font-weight: 600;
}

.stats-value {
  margin-left: 8px;
}
